<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <jmxConfigurator/>
    <contextName>ORD</contextName>

    <!-- Основные настройки для консоли-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.out"/>
    </appender>

    <!-- для LDAP-->
    <appender name="APPENDER_LDAP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/LDAP/LDAP.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- для SQL-->
    <appender name="APPENDER_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/SQL/SQL.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>


    <logger name="INCOMING_DOCUMENT" level="DEBUG"/>

    <logger name="AUTH" level="DEBUG" />

    <logger name="CONVERTER" level="DEBUG"/>

    <logger name="FILTER" level="DEBUG" />

    <logger name="SESSION_LISTENER" level="DEBUG" />

    <!--Логгер для работы с подразделениями-->
    <logger name="DEPARTMENT" level = "ERROR"/>


    <!--Логгер для работы с должностями-->
    <logger name="POSITION" level = "ERROR"/>

    <!--Логгер для действий с пользователями-->
    <logger name="USER" level="DEBUG"/>

    <!--Логгер для интеграции с ЛДАП-->
    <logger name="LDAP" level="DEBUG">
        <appender-ref ref="APPENDER_LDAP"/>
    </logger>

    <logger name="HUMAN_TASK" level="DEBUG"/>

    <!--Hibernate SQL LOGGER-->
    <logger name="org.hibernate" level = "DEBUG" additivity="false">
        <appender-ref ref="APPENDER_SQL"/>
    </logger>

    <root level="${logs.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>