.ui-panelgrid .ui-panelgrid-cell {
    border-style: dotted none !important;
    border-color: lavender !important;
}

.ui-widget-content {
    border: none !important;
}

.ui-button-text-only .ui-button-text {
    width: 8em !important;
}

.userListPanel {
    overflow-y: auto;
    max-height: 200px;
}

.userListItem {
    display:inline-block !important;
    padding:1px 5px !important;
    white-space:nowrap;
}