<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        >

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:alfresco.properties</value>
                <value>classpath:workflow.properties</value>
                <!--<value>file:/usr/local/ord/configuration/mail.properties</value>-->
                <!--<value>file:/usr/local/ord/configuration/ldap.properties</value>-->
                <value>classpath:mail.properties</value>
                <value>classpath:ldap.properties</value>

            </list>
        </property>
    </bean>

    <bean id="ldapImportService" class="ru.efive.dms.util.ldap.LDAPImportService">
        <property name="ldapAddressValue" value="${ldap.address.value}"/>
        <property name="loginValue" value="${ldap.login.value}"/>
        <property name="passwordValue" value="${ldap.password.value}"/>
        <property name="filterValue" value="${ldap.filter.value}"/>
        <property name="baseValue" value="${ldap.base.value}"/>
        <property name="skipBaseValue" value="${ldap.skipbase.value}"/>
    </bean>

    <bean id="alfrescoDao" class="ru.efive.dao.alfresco.AlfrescoDAO">
        <property name="serverUrl" value="${alfresco.server.url}"/>
        <property name="login" value="${alfresco.server.login}"/>
        <property name="password" value="${alfresco.server.password}"/>
        <property name="path" value="${alfresco.server.path}"/>
    </bean>

    <bean id="mailSettings" class="ru.efive.wf.core.MailSettings">
        <property name="jndi" value="${jndi.server}"/>
        <property name="smtpHost" value="${smtp.server}"/>
        <property name="smtpUser" value="${smtp.user}"/>
        <property name="smptPassword" value="${smtp.password}"/>
        <property name="smtpFlag" value="${smtp.flag}"/>
        <property name="testServer" value="${mail.test}"/>
        <property name="sendTo" value="${mail.sendTo}"/>
        <property name="sendFrom" value="${mail.sendFrom}"/>
        <property name="smtpPort" value="${smtp.port}"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="ordDatasource"/>
        <property name="lookupOnStartup" value="true"/>
    </bean>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <!-- "Abstract" @MappedSuperclass entities -->
                <value>ru.entity.model.mapped.IdentifiedEntity</value>
                <value>ru.entity.model.mapped.DeletableEntity</value>
                <value>ru.entity.model.mapped.DictionaryEntity</value>
                <!-- /"Abstract" @MappedSuperclass entities -->

                <!--User-->
                <value>ru.entity.model.user.User</value>
                <value>ru.entity.model.user.Role</value>
                <value>ru.entity.model.user.Group</value>
                <value>ru.entity.model.user.PersonContact</value>
                <value>ru.entity.model.user.Substitution</value>

                <!-- documents -->
                <value>ru.entity.model.mapped.Document</value>
                <value>ru.entity.model.document.IncomingDocument</value>
                <value>ru.entity.model.document.InternalDocument</value>
                <value>ru.entity.model.document.OutgoingDocument</value>
                <value>ru.entity.model.document.RequestDocument</value>
                <value>ru.entity.model.document.OfficeKeepingFile</value>
                <value>ru.entity.model.document.OfficeKeepingVolume</value>
                <value>ru.entity.model.document.Task</value>
                <value>ru.entity.model.document.RecordBookDocument</value>

                <value>ru.entity.model.crm.Contact</value>
                <value>ru.entity.model.document.Numerator</value>
                <value>ru.entity.model.document.ReportTemplate</value>
                <!-- /documents -->


                <!-- workflow -->
                <value>ru.entity.model.document.HistoryEntry</value>
                <value>ru.entity.model.wf.RouteTemplate</value>
                <value>ru.entity.model.wf.HumanTaskTreeNode</value>
                <value>ru.entity.model.wf.HumanTaskTree</value>
                <value>ru.entity.model.wf.HumanTask</value>
                <!-- /workflow -->
            </list>
        </property>
        <property name="packagesToScan">
            <list>
                <value>ru.entity.model.document.viewFacts</value>
                <!-- Reference Books -->
                <value>ru.entity.model.referenceBook</value>
                <value>ru.entity.model.util</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</prop>
                <prop key="net.sf.ehcache.configurationResourceName">ehcache.xml</prop>
                <prop key="hibernate.default_batch_fetch_size">10</prop>
                <prop key="hibernate.max_fetch_depth">2</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.jdbc.use_get_generated_keys">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.jdbc.fetch_size">10</prop>
                <prop key="hibernate.jdbc.batch_size">10</prop>
                <prop key="hibernate.dbcp.whenExhaustedAction">2</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
                <prop key="hibernate.connection.useUnicode">true</prop>
                <prop key="hibernate.connection.characterEncoding">UTF-8</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
                <!--TODO code analysis issue
                <prop key="hibernate.globally_quoted_identifiers">true</prop>
                -->
            </props>
        </property>
    </bean>

    <!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->

    <!-- Data access object: Hibernate implementation. -->

    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="dataSource" ref="dataSource"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <!-- Standard settings to DAO classes-->
    <bean id="daoSettings" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userDao" class="ru.hitsl.sql.dao.user.UserDAOHibernate" parent="daoSettings"/>

    <bean id="roleDao" class="ru.hitsl.sql.dao.user.RoleDAOHibernate" parent="daoSettings"/>

    <bean id="groupDao" class="ru.hitsl.sql.dao.user.GroupDAOHibernate" parent="daoSettings"/>

    <bean id="incomingDao" class="ru.hitsl.sql.dao.IncomingDocumentDAOImpl" parent="daoSettings"/>

    <bean id="numeratorDao" class="ru.hitsl.sql.dao.NumeratorDAOImpl" parent="daoSettings"/>

    <bean id="internalDao" class="ru.hitsl.sql.dao.InternalDocumentDAOImpl" parent="daoSettings"/>

    <bean id="outgoingDao" class="ru.hitsl.sql.dao.OutgoingDocumentDAOImpl" parent="daoSettings"/>

    <bean id="requestDao" class="ru.hitsl.sql.dao.RequestDocumentDAOImpl" parent="daoSettings"/>

    <bean id="taskDao" class="ru.hitsl.sql.dao.TaskDAOImpl" parent="daoSettings"/>

    <bean id="recordBookDao" class="ru.hitsl.sql.dao.RecordBookDocumentDAOImpl" parent="daoSettings"/>

    <bean id="officeKeepingFileDao" class="ru.hitsl.sql.dao.OfficeKeepingFileDAOImpl" parent="daoSettings"/>

    <bean id="officeKeepingVolumeDao" class="ru.hitsl.sql.dao.OfficeKeepingVolumeDAOImpl" parent="daoSettings"/>

    <bean id="documentFormDao" class="ru.hitsl.sql.dao.referenceBook.DocumentFormDAOImpl" parent="daoSettings"/>

    <bean id="userAccessLevelDao" class="ru.hitsl.sql.dao.referenceBook.UserAccessLevelDAOImpl" parent="daoSettings"/>

    <bean id="departmentDao" class="ru.hitsl.sql.dao.referenceBook.DepartmentDAOImpl" parent="daoSettings"/>

    <bean id="positionDao" class="ru.hitsl.sql.dao.referenceBook.PositionDAOImpl" parent="daoSettings"/>

    <bean id="nomenclatureDao" class="ru.hitsl.sql.dao.referenceBook.NomenclatureDAOImpl" parent="daoSettings"/>

    <bean id="deliveryTypeDao" class="ru.hitsl.sql.dao.referenceBook.DeliveryTypeDAOImpl" parent="daoSettings"/>

    <bean id="groupTypeDao" class="ru.hitsl.sql.dao.referenceBook.GroupTypeDAOImpl" parent="daoSettings"/>

    <bean id="contactTypeDao" class="ru.hitsl.sql.dao.referenceBook.ContactInfoTypeDAOImpl" parent="daoSettings"/>

    <bean id="contragentTypeDao" class="ru.hitsl.sql.dao.referenceBook.ContragentTypeDAOImpl" parent="daoSettings"/>

    <bean id="senderTypeDao" class="ru.hitsl.sql.dao.referenceBook.SenderTypeDAOImpl" parent="daoSettings"/>

    <bean id="regionDao" class="ru.hitsl.sql.dao.referenceBook.RegionDAOImpl" parent="daoSettings"/>

    <bean id="contragentDao" class="ru.hitsl.sql.dao.ContragentDAOHibernate" parent="daoSettings"/>

    <bean id="engineDao" class="ru.efive.wf.core.dao.EngineDAOImpl" parent="daoSettings"/>

    <bean id="reportDao" class="ru.hitsl.sql.dao.ReportDAOImpl" parent="daoSettings"/>

    <bean id="substitutionDao" class="ru.hitsl.sql.dao.SubstitutionDaoImpl" parent="daoSettings"/>

    <bean id="viewFactDao" class="ru.hitsl.sql.dao.ViewFactDaoImpl" parent="daoSettings"/>

    <bean id="documentTypeDao" class="ru.hitsl.sql.dao.referenceBook.DocumentTypeDAOImpl" parent="daoSettings"/>

    <bean id="editableMatrixDao" class="ru.hitsl.sql.dao.EditableMatrixDaoImpl" parent="daoSettings"/>

</beans>