<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <jmxConfigurator/>
    <contextName>ORD</contextName>

    <!--APPENDERS-->

    <!-- Основные настройки для консоли-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.out"/>
    </appender>

    <!-- для LDAP-->
    <appender name="APPENDER_LDAP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/ldap/ldap.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- для SQL-->
    <appender name="APPENDER_ORM" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/orm/orm_%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
    </appender>


    <!--Для разных типов документов-->
    <appender name="APPENDER_CONFIG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/config/config.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--Для DAO-->
    <appender name="APPENDER_BEAN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/bean/bean.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

   <!--Для альфреско-->
    <appender name="APPENDER_CMIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/cmis/cmis.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Для различных подсистемных сообщений (Утилиты, Конвертеры)-->
    <appender name="APPENDER_UTIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/util/util.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--LOGGERS-->

    <!--Логгеры для документов-->
    <!-- базовый -->
    <logger name="DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <!--У каждого свой но все отписывают в один APPENDER_DOC-->
    <logger name="INCOMING_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <logger name="INTERNAL_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <logger name="OUTGOING_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <logger name="REQUEST_DOCUMENT" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_DOC"/>
    </logger>
    <logger name="TASK" level="${logs.document.level}" additivity="${logs.document.additivity}">
        <appender-ref ref="APPENDER_TASK"/>
    </logger>
    <!--Конец логгеров для документов-->

    <logger name="AUTH" level="DEBUG"/>

    <logger name="FILTER" level="DEBUG"/>

    <!--Логгеры для различных утилит-->
    <!-- Матрица редактируемости полей-->
    <logger name="EDITABLE_MATRIX" level="DEBUG">
        <appender-ref ref="APPENDER_UTIL"/>
    </logger>
    <!-- Логгер для конвертеров-->
    <logger name="CONVERTER" level="DEBUG">
        <appender-ref ref="APPENDER_UTIL"/>
    </logger>

    <!--Логгер для работы с подразделениями-->
    <logger name="DEPARTMENT" level="ERROR"/>

    <!--Логгер для работы с должностями-->
    <logger name="POSITION" level="ERROR"/>

    <!--Логгер для работы с контрагентами-->
    <logger name="CONTRAGENT" level="INFO"/>

    <!--Логгер для действий с пользователями-->
    <logger name="USER" level="DEBUG"/>

    <logger name="HUMAN_TASK" level="DEBUG"/>

    <!--Логгеры для DAO-->
    <!--У каждого свой, но пишут все в один APPENDER_DAO-->
    <logger name="TASK_DAO" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_DAO"/>
    </logger>
    <!--Конец логгеров для DAO-->

    <!--Логгер для интеграции с ЛДАП-->
    <logger name="LDAP" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_LDAP"/>
    </logger>

    <!--Логгер для интеграции с CMIS (alfresco)-->
    <logger name="CMIS" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_CMIS"/>
    </logger>
    <logger name="ru.bars_open.medvtr.ord.cmis" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_CMIS"/>
    </logger>
    <logger name="org.apache.chemistry.opencmis" level="INFO" additivity="false">
        <appender-ref ref="APPENDER_CMIS"/>
    </logger>

    <!--Hibernate SQL LOGGER-->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_ORM"/>
    </logger>
    <logger name="org.springframework.orm.jpa" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_ORM"/>
    </logger>

    <logger name="org.springframework.beans" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_BEAN"/>
    </logger>
    <logger name="org.springframework.aop" level="DEBUG" additivity="false">
        <appender-ref ref="APPENDER_BEAN"/>
    </logger>

    <root level="${logs.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>