<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>UI Templates demonstartion web application.</description>
    <display-name>UI Templates Demo Web Application</display-name>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>false</param-value>
        <!-- 
            if true the "javax.faces.component.StateHolderSaver cannot be cast to [Ljava.lang.Object" occurs.
            It's look like 
                http://java.net/jira/browse/JAVASERVERFACES-1825
                http://java.net/jira/browse/JAVASERVERFACES-2041
        -->
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <servlet>
        <description>Faces Servlet</description>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>UploadFilter</filter-name>
        <filter-class>ru.efive.uifaces.filter.UploadFilter</filter-class>
        <init-param>
            <param-name>UPLOAD_MAX_SIZE</param-name>
            <param-value>419430400</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UploadFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>ResourceCacheControlFilter</filter-name>
        <filter-class>ru.efive.uifaces.filter.ResourceCacheControlFilter</filter-class>
        <init-param>
            <param-name>QUERY_STRING_PATTERN</param-name>
            <param-value>ln=e5ui/.*</param-value>
        </init-param>
        <!--<init-param>
            <param-name>FORCE_NO_CACHE</param-name>
            <param-value>true</param-value>
        </init-param>-->
    </filter>
    <filter-mapping>
        <filter-name>ResourceCacheControlFilter</filter-name>
        <url-pattern>/javax.faces.resource/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
