/* don't show marker on left side of collapsible menu item  */
.e5ui-menuItem-collapsed-left {
    display: none;
}
/* "-" icon on right side of collapsible menu item  */
.e5ui-menuItem.collapsable .e5ui-menuItem-collapsed-right {
    cursor: pointer;
    width: 8px;
    background-image: url('marker_collapse.png.xhtml?ln=e5ui/images');
    background-position: center center;
    background-repeat: no-repeat;
}
/* "+" icon on right side of collapsible menu item  */
.e5ui-menuItem.collapsable.collapsed .e5ui-menuItem-collapsed-right {
    background-image: url('marker_expand.png.xhtml?ln=e5ui/images');
}

/* default font for menu items */
div.e5ui-menuItem {
    font-weight: normal;
    font-variant: normal;
}

/* default padding for text in root menu items */
div.e5ui-menuItem a {
    padding-left: 4px;
    padding-right: 4px;
}

/* default padding for text in nested menu items */
div.e5ui-menuItem div.e5ui-menuItem-children {
    padding-left: 25px;
}

/* left-border decoration for all menu */
div.e5ui-menuItem[e5ui-level="1"] {
    border-left: solid 2px #045492;
    padding-left: 4px;
}

/* text decoration currently selected menu item */
.e5ui-menuItem[e5ui-selected] > .e5ui-menuItem-content {
    font-weight: bold;
}

/* background decoration currently selected menu item */
.e5ui-menuItem[e5ui-selected] > .e5ui-menuItem-content a {
    background-color: burlywood;
}

/* text decoration current active root menu item */
.e5ui-menuItem[e5ui-current] > .e5ui-menuItem-content {
    font-weight: bold;
}
